* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App {
  text-align: center;
  background-color: lightcoral;
  font-family: 'Roboto', sans-serif;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  background-color: lightgoldenrodyellow;
  border: 1px solid darkred;
  border-radius: 5px;
  width: 200px;
  min-height: 250px;
  margin: 10px;
}
.card:hover {
  background-color: lightsalmon;
}
.card__name {
  text-transform: capitalize;
}

.card__types {
  margin-top: 5px;
  border-top: 1px solid darkred;
  border-radius: 5px;
}
.card__types__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card__types__list {
  background-color: lightsteelblue;
  width: 70px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.card__evolution {
  margin-top: 5px;
  border-top: 1px solid darkred;
  border-radius: 5px;
}

.poison {
  background-color: rgb(221, 118, 221);
}

.grass {
  background-color: rgb(130, 233, 130);
}

.fire {
  background-color: rgb(255, 132, 132);
}

.water {
  background-color: rgb(112, 229, 250);
}

.flying {
  background-color: rgb(189, 185, 185);
}

.bug {
  background-color: rgb(243, 217, 98);
}
